/* line 5, ../../sass/partials/feedback.sass */
.fdb {
  background-color: #c7d300;
  font-family: Frutiger LT Std Light, Arial, Helvetica, sans-serif;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
